*{
  box-sizing: border-box;
}
body{
  background-color: grey;
}
h1{
  font-size: 36px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  margin-bottom: 30px;
  
}
p{
  padding: 15px 5px 0px 5px;
  font-family: serif;
  position: relative;
  font-size: 18px;
  color: salmon
  
}
.section{
  background-color: rgb(70,0,30);
  border: 2px solid beige;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  text-align: justify;
}
span{
  border: 1px solid grey;
  font-size: 20px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  float:right;top: 0;right: 0;margin: 0;
  position:absolute;
}
#p1 {
	background-color: rgb(250, 150, 150);
	color: rgb(0, 0, 0);
}
#p2 {
	background-color: rgb(250, 0, 0);
	color: rgb(250, 250, 250);
}
#p3 {
	background-color: rgb(200, 200, 100);
	color: rgb(0, 0, 0);
}
}

.row {
	width: 100%;
}

/*  PC view */

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/*for very small screens or mobile devices */
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
        width: 100%;
  }
}
